#minicard {
	text-align: center;
	font-size: 100%;
	position: relative;
	form {
		margin-bottom: 0;
		button {
			appearance: none;
			border: none;
			background: #4595c7;
			color: #fff;
			border: 1px solid rgba(0,0,0,0.09);
			&:hover {
				box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2)
			}
		}
		.minicard-option {
			margin: 0;
			padding: 0;
			margin-bottom: 1em;
			display: flex;
			align-items: stretch;
			align-content: stretch;
			label {
				flex: 1;
				display: block;
				margin: 0;
				font: inherit;
			    border: 1px solid rgba(0,0,0,0.09);
				border-right: 0;
				text-align: center;
				padding: 1em 0.6em;
			    background: rgba(0,0,0,0.03);
				appearance: none;
				border-right: 0;
				cursor: pointer;
				line-height: 1.1;
				color: #555;
				position: relative;
				// Same height
				padding: 0;
				height: 3.4em;
				span {
					position: absolute;
					top: 50%;
					left: 50%;
					padding: 0 0.6em;
					transform: translate(-50%,-50%);
					width: 100%;
				}
				// End same height
				&:hover {
					background: rgba(0,0,0,0.09);
				}
				&.selected {
					background: #4595c7;
					color: #fff;
					margin-right: -1px;
					border-right: 1px solid rgba(0,0,0,0.09);
					cursor: default;
				}
				&.selected:last-child  {
					margin-right: 0;
				}
				&:last-child {
					border-right: 1px solid rgba(0,0,0,0.09);
				}
			}
			input {
				display: none;
			}
//			&.minicard-option-slim label {
//				padding: 0.6em;
//			}
		}
		.minicard-subsave {
			margin-left: 20%;
			text-align: center;
			font-weight: bold;
			font-size: 1em;
			margin-bottom: 0.25em;
			position: relative;
			color: #FC4D56;
			margin-top: 1em;
			padding-top: 0.5em;
			position: relative;
			border: 2px solid #FC4D56;
			border-bottom: 0;
			&.subspan-1 {
				margin-left: 50%;
			}
			&.subspan-2 {
				margin-left: 33.3333%;
			}
			&.subspan-3 {
				margin-left: 25%;
			}
			span {
				background: #fff;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%,-50%);
				white-space: nowrap;
				padding: 0 0.5em;
			}
		}
		.minicard-prices {
			display: inline-block;
			white-space: nowrap;
			margin-bottom: 1em;
			vertical-align: top;
			margin-right: 1em;
			.old-price, .new-price {
				display: inline-block;
				font-size: 1.4em;
			}
			.old-price {
				text-decoration: line-through;
				opacity: 0.5;
				margin-right: 0.5em;
				color: #FC4D56;
				&:empty {
					display: none;
				}
			}
			.new-price {
				// font-size: 1.4em;
				color: #555;
			}
		}
		.minicard-quantity {
			margin-bottom: 1em;
			vertical-align: top;
			display: inline-block;
			// background: rgba(0,0,0,0.03);
			margin-right: 1em;
			background: #fff;
			border: 1px solid rgba(0,0,0,0.09);
			input {
				border: none;
				border-left: none;
				border-right: none;
				background: transparent;
				width: 2em;
				text-align: center;
				appearance: none;
				box-shadow: none;
				margin: 0;
				line-height: 2em;
				min-height: 2em;
				padding: 0;
				font-size: inherit;
				position: relative;
				cursor: default;
				color: inherit;
				vertical-align: top;
			}
			button {
				// background: rgba(0,0,0,0.18);
				background: #fff;
				color: inherit;
				appearance: none;
				border: none;
				cursor: pointer;
				outline: none;
				margin: 0;
				font-size: inherit;
				line-height: 2em;
				min-height: 2em;
				padding: 0 0.6em;
				vertical-align: top;
				&.plus {
					border-left: 1px solid rgba(0,0,0,0.09);
				}
				&.minus {
					border-right: 1px solid rgba(0,0,0,0.09);
				}
			}
		}
		.minicard-button {
			text-align: center;
			display: block;
		}
		.confirm {
			padding: 3em 0;
			text-align: center;
			button.alt {
				background: #fff;
				color: #4595c7;
			}
		}
	}
}
/* Stars */
.minicard-stars {
	margin-bottom: 1em;
}
.minicard-stars .star:before {
	color: #fec600;
	content: "\e60e";
	font-family: "yotpo-widget-font" !important;
}